.hidden-input {
  display: none;
}
.serv-id {
  display: none;
}
//Form styles
.wpcf7-form {
  * {
	direction: rtl !important;
  }
  ::placeholder {
	@include input-text;
  }
  ::-webkit-input-placeholder, :-moz-placeholder, :-ms-input-placeholder {
	@include input-text;
  }
}
div.wpcf7 input,
div.wpcf7 textarea,
div.wpcf7 select,
.contact-link-stick {
  @include input-text;
  @include input-style;
}
.contact-link-stick {
  @include d-center;
}
div.wpcf7 select {
  -webkit-appearance: none;
  background-image: url("../iconsall/form-select.png");
  padding-right: 14px;
  padding-left: size(40);
  background-position: 17px center;
  background-size: 17px;
  margin-bottom: 10px;
}
div.wpcf7 textarea {
  height: 160px;
}
div.wpcf7 input[type="text"] {
  background-image: url("../iconsall/form-name.png");
}
div.wpcf7 input[type="tel"] {
  background-image: url("../iconsall/form-tel.png");
}
div.wpcf7 input[type="email"] {
  background-image: url("../iconsall/form-mail.png");
}
div.textarea-col {
  ::placeholder {
	color: rgba(28, 29, 26, 0.5);
  }
  ::-webkit-input-placeholder, :-moz-placeholder, :-ms-input-placeholder {
	color: rgba(28, 29, 26, 0.5);
  }
}
div.wpcf7 input[type="submit"], .base-link, .contact-link-stick {
  background-color: $red-main;
  color: #ffffff;
  font-weight: 400;
  text-align: center;
  white-space: normal;
  padding: 5px 14px 5px 31px;
  background-repeat: no-repeat;
  background-image: url("../iconsall/form-submit.png");
  background-size: 8px;
  background-position: 11px center;
  &:hover {
	color: #ffffff;
  }
}
div.wpcf7 input[type="submit"], .contact-link-stick {
  transition: transform .5s;
  &:hover {
	color: #ffffff;
	transform: scale(0.95, 0.95);
	transition: transform .5s;
  }
}
.base-link {
  @include d-center;
  font-size: size(20);
  border-radius: 10px;
  height: size(40);
  padding: 5px 20px 5px 42px;
  background-position: 16px center;
  transition: background-position .5s;
  &:hover {
	background-position: 5px center;
	transition: background-position .5s;
  }
}
.form-title {
  @include base-title;
  color: #ffffff;
  text-align: center;
  margin-bottom: 15px;
}
.post-form-title {
  font-size: size(32);
  line-height: size(36);
  font-weight: 700;
}
.post-form-subtitle {
  font-size: size(29);
  line-height: size(30);
  font-weight: 400;
}
.post-form-title, .post-form-subtitle {
  color: #ffffff;
  text-align: center;
  margin-bottom: 10px;
}
.post-form-wrap {
  background-color: $black-main;
  padding: size(47) 20px 20px 20px;
  border-radius: 10px;
}
.float-form {
  position: fixed;
  top: 10%;
  z-index: 99999;
  transition: all .5s;
  transform: translateX(-100%);
  opacity: 0;
  &.show-form {
	left: 3rem;
	opacity: 1;
	transform: translateX(0);
  }
}
.repeat-form-block, .service-form-block {
  background-color: $black-main;
  padding-top: 27px;
  margin: 45px 0;
}
.service-form-block {
  border-radius: 10px;
  padding: size(33) 10%;
}
