#desctopNav {
  ul{
	display: flex;
	height: 100%;
	flex-wrap: wrap;
	ul.sub-menu {
	  display: none;
	}
	li{
	  position: relative;
	  @include d-center;
	  padding: 10px 15px;
	  &.first-sub-menu:hover:after {
		position: absolute;
		top: 100%;
		content: '';
		height: 5px;
		display: block;
		width: 100%;
		background-color: $red-main;
		z-index: 999999999;
	  }
	  &.first-sub-menu a:before {
		position: absolute;
		content: '';
		display: block;
		width: 1px;
		height: 45%;
		left: 0;
		background-color: #ffffff;
	  }
	  &:last-child.first-sub-menu a:before {
		display: none;
	  }
	  a{
		@include block-text;
		color: #ffffff;
		text-align: center;
		transition: color .5s;
		&:hover {
		  color: #ffffff;
		}
	  }
	}
  }
}
.header-top {
  padding: 12px 0 8px 0;
  box-shadow: 1px 2px 23px 1px rgba(0, 0, 0, 0.06);
  background-color: #ffffff;
}
.header-bottom {
  position: relative;
  display: flex;
  justify-content: center;
  background-color: $black-main;
  .hamburger {
	padding: 0;
	display: flex;
  }
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after,
  .hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner::before, .hamburger.is-active .hamburger-inner::after {
	background-color: #ffffff;
	height: 2px;
	border-radius: 0;
  }
}
.drop-menu {
  display: none;
  position: absolute;
  right: 0;
  justify-content: flex-start;
  align-items: flex-start;
  padding: size(40) 5%;
  box-shadow: 1px 2px 10px 1px rgba(0, 0, 0, 0.21);
  background-color: #ffffff;
  width: auto;
  z-index: 9999;
  top: calc(100% + 20px);
  overflow-y: auto;
  nav {
	width: 100%;
  }
  ul{
	li{
	  display: flex;
	  align-items: baseline;
	  a {
		@include block-text;
		color: #000000;
		margin-bottom: 0.5rem;
		transition: color .5s;
		&:hover {
		  color: $red-main;
		  transition: color .5s;
		}
	  }
	}
  }
}
//Dropdown
.drop-container {
  position: absolute;
  box-shadow: 1px 2px 10px 1px rgba(0, 0, 0, 0.21);
  background-color: #ffffff;
  top: 100%;
  width: 100%;
  max-width: 77%;
  margin: 0 auto;
  height: auto;
  display: none;
  z-index: 999999;
  overflow-y: auto;
  //&.show {
  //opacity: 1;
  //transition: opacity .5s;
  //}
  ul.sub-menu {
	padding: 45px;
	column-count: 4;
	column-gap: 2rem;
	li a {
	  @include block-text;
	  color: #000000;
	  margin-bottom: 0.5rem;
	  transition: color .5s;
	  &:hover {
		color: $red-main;
		transition: color .5s;
	  }
	}
  }
}

.logo {
  @include d-center;
  img {
	max-height: size(47);
  }
}
.socials-line {
  position: fixed;
  left: 0;
  bottom: 25%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  z-index: 999;
}
.social-link-item {
  @include d-center;
  width: size(57);
  height: size(58);
  border-radius: 0 size(29) size(29) 0;
  background-color: $black-main;
  margin-bottom: 4px;
  transition: background-color .5s;
  .fab {
	color: #ffffff;
	font-size: size(32);
  }
  img {
	width: size(27);
  }
  &:hover {
	background-color: $red-main;
	transition: background-color .5s;
  }
}
.header-tel {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  &:hover {
	.tel-number {
	  color: $red-main;
	  transition: color .5s;
	}
  }
  img {
	margin: 0 size(18);
	width: size(34);
  }
}
.tel-number, .langs-wrap li a {
  color: #000000;
  font-size: size(30);
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(34);
  text-align: center;
  transition: color .5s;
}
.langs-wrap {
  @include d-center;
  &:hover {
	li a {
	  color: $red-main;
	  transition: color .5s;
	}
  }
  li.active {
	display: none;
  }
  li a {
	text-transform: uppercase;
  }
}
.col-min-width {
  min-width: 427px;
}
//Footer
footer {
  margin-bottom: 112px;
}
.footer-main {
  position: relative;
  background-color: #a5a4a4;
  padding-top: 46px;
}
.footer-container-menu {
  padding: 60px 0 20px 0;
}
.menu-border-top {
  position: relative;
  padding-top: size(22);
  border-top: 2px solid #ffffff;
  &:before {
	content: '';
	display: block;
	height: 3px;
	position: absolute;
	right: 0;
	top: -2.5px;
	width: 118px;
	background-color: $red-main;
  }
}
.hop-hey.three-columns {
  column-count: 2;
  column-gap: 1rem;
}
footer {
  li {
	-webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
	page-break-inside: avoid; /* Firefox */
	break-inside: avoid-column;
	position: relative;
	margin-bottom: 5px;
	a {
	  position: relative;
	  font-size: size(20);
	  line-height: size(22);
	  font-weight: 300;
	  color: #ffffff;
	  padding-right: 20px;
	  transition: color .5s;
	  &:hover {
		color: $black-main;
		transition: color .5s;
	  }
	}
	li:hover {
	  &:before {
		border-right: 3px solid $black-main;
	  }
	}
	&:before {
	  position: absolute;
	  content: '';
	  top: 12px;
	  color: #ffffff;
	  font-size: size(18);
	  line-height: size(20);
	  display: inline-block;
	  right: 0;
	  width: 3px;
	  height: 5px;
	  border: 3px solid transparent;
	  border-right: 3px solid #fff;
	}
  }
  .contact-list li {
	margin-bottom: 10px;
	a {
	  display: flex;
	  align-items: flex-start;
	  padding-right: 0;
	}
	&:before {
	  display: none;
	}
  }
}
.contact-menu-foo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.foo-title {
  @include base-text;
  color: #ffffff;
  margin-bottom: 15px;
}
.foo-form-wrap {
  padding: size(40) 0;
}
#go-top {
  position: absolute;
  top: -4rem;
  right: 33px;
  @include d-center;
  flex-direction: column;
  cursor: pointer;
  z-index: 999;
  svg {
	width: size(64);
	fill: $black-main;
	transition: fill .5s;
	animation: jump-top 1.2s ease-in-out alternate infinite;
  }
  &:hover svg {
	fill: $red-main;
	transition: fill .5s;
  }
}
.pop-trigger {
  cursor: pointer;
}
#breadcrumbs {
  margin: 30px;
}
#breadcrumbs a {
  color: $base-text;
  transition: color .5s;
  &:hover {
	color: $red-main;
	transition: color .5s;
  }
}
