//Faq
.faq {
  margin: 100px 0;
  .card {
	border: none !important;
  }
  .question-card {
	margin-bottom: 16px;
	border-radius: 0 !important;
  }
  .question-title {
	display: flex;
	align-items: stretch;
	width: 100%;
	min-height: size(72);
	border: none !important;
	background: transparent;
	padding: 0;
	&:after {
	  content: '+';
	  display: flex;
	  justify-content: center;
	  align-items: flex-start;
	  padding-top: 19px;
	  position: absolute;
	  left: 20px;
	  font-family: $almoni-tzar;
	  font-size: size(50);
	  font-weight: 700;
	  font-style: normal;
	  letter-spacing: normal;
	  line-height: size(36);
	  color: $red-main;
	  text-align: center;
	  transition: color .5s;
	  top: 0;
	  height: size(72);
	}
  }
}
.question-title-q {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  font-size: size(20);
  line-height: size(22);
  color: #707070;
  text-align: right;
  padding: 5px 0 5px 40px;
  transition: color .5s;
}
.answer-body {
  padding: 0 0 21px 20%;
}
.question-header {
  position: relative;
  //display: flex;
  background-color: #ffffff;
  border-radius: 10px;
  border: 2px solid #000000;
  padding-right: 100px;
  &.active-faq {
	.question-title:after {
	  content: '-';
	}
  }
}
.faq-icon {
  position: absolute;
  right: 0;
  top: 0;
  @include d-center;
  min-width: 62px;
  height: size(72);
  width: 62px;
  padding: 19px;
  background-color: #a5a4a4;
  transition: background-color .5s;
  border-radius: 0 10px 10px 0;
}
//Slider
.arrows-slider {
  [dir="rtl"] .slick-prev, [dir="rtl"] .slick-next {
	width: size(22);
	height: size(18);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
  }
  .slick-prev:before, .slick-next:before {
	color: transparent;
  }
}
.arrows-slider-base {
  [dir="rtl"] .slick-prev, [dir="rtl"] .slick-next {
	width: size(22);
	height: size(18);
  }
  [dir="rtl"] .slick-next {
	background-image: url("../iconsall/arrow-red-left.png");
	left: 0;
  }
  [dir="rtl"] .slick-prev {
	background-image: url("../iconsall/arrow-red-right.png");
	right: 0;
  }
}
.slider-wrapper-text {
  border-radius: 10px;
  background-color: #f9f9f9;
  padding: 100px 53px;
  [dir="rtl"] .slick-prev, [dir="rtl"] .slick-next {
	top: calc(100% + 2rem);
  }
}
.arrows-slider-black {
  [dir="rtl"] .slick-prev, [dir="rtl"] .slick-next {
	width: size(30);
	height: size(26);
	top: 40%;
	z-index: 33;
  }
  [dir="rtl"] .slick-next {
	background-image: url("../iconsall/arrow-left.png");
	left: -3rem;
  }
  [dir="rtl"] .slick-prev {
	background-image: url("../iconsall/arrow-right.png");
	right: -3rem;
  }
}
.base-slider-block {
  position: relative;
  padding: size(100) 0;
}
.slider-img-col {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100% + 4rem);
  @include d-center;
  border-radius: 10px;
  right: 0;
}
.slider-img-col-mob {
  display: none;
  margin-bottom: 2rem;
  img {
	width: 100%;
	border-radius: 10px;
  }
}
//Post card
.post-col {
  margin-bottom: 20px;
}
.post-item {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  border-radius: 10px;
  background-color: #f9f9f9;
  overflow: hidden;
  height: 100%;
}
.post-item-image {
  @include back-img;
  display: flex;
  flex: 0 0 38%;
  max-width: 38%;
  &:after {
	content: '';
	display: block;
	padding-bottom: 100%;
  }
}
.post-link {
  border: 1px solid $red-main;
  background-color: #ffffff;
  margin-top: 12px;
  color: #000000;
  background-image: url("../iconsall/arrow-link.png");
  &:hover {
	color: #000000;
  }
}
.post-item-content-wrap {
  flex: 0 0 62%;
  max-width: 62%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 23px 15px 23px 33px;
}
.item-content-inside {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-grow: 1;
}
.post-item-title {
  color: #000000;
  font-size: size(25);
  line-height: size(28);
  font-weight: 700;
  margin-bottom: 10px;
  transition: color .5s;
  &:hover {
	color: $red-main;
	transition: color .5s;
  }
}


//Service card
.service-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 80px;
  &:hover {
	.service-icon-wrap {
	  box-shadow: unset;
	  transition: box-shadow .5s;
	}
	.service-title {
	  color: $red-main;
	  transition: color .5s;
	}
  }
}
.service-icon-wrap, .service-page-icon {
  min-width: size(249);
  height: size(200);
  box-shadow: 1px 2px 7px 1px rgba(22, 22, 22, 0.1);
  transition: box-shadow .5s;
  border-radius: 10px;
  background-color: #ffffff;
  overflow: hidden;
  @include d-center;
  margin-bottom: 24px;
  padding: size(43);
  img {
	max-height: 100%;
  }
}
.service-page-icon {
  width: size(182) !important;
  height: size(145) !important;
  min-width: size(182) !important;
  box-shadow: 1px 2px 7px 1px rgba(22, 22, 22, 0.1);
  border-radius: 0 10px 10px 0;
  background-color: #ffffff;
  border-left: 5px solid $red-main;
  padding: 40px;
  margin-left: 17px;
}
.company-icon-wrap {
  width: size(249) !important;
  height: 200px !important;
  padding: 30px;
}
.service-title {
  color: #000000;
  font-size: size(23);
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(30);
  text-align: center;
  transition: color .5s;
}
//Counter
.counter-block {
  margin: 60px 0;
}
.counter-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.counter-num-wrap {
  position: relative;
  @include d-center;
  width: 126px;
  height: 139px;
  background-image: url("../iconsall/counter-back.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: 18px;
}
.counter-number {
  position: absolute;
  right: 30px;
  color: #ff0000;
  font-size: size(55);
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(34);
}
.counter-title {
  font-size: size(30);
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(34);
  text-align: center;
  color: $base-text;
}
