/* ----------- Non-Retina Screens ----------- */
@media screen
and (min-device-width: 1200px)
and (max-device-width: 1600px)
and (-webkit-min-device-pixel-ratio: 1) {}
/* ----------- Retina Screens ----------- */
@media screen
and (min-device-width: 1200px)
and (max-device-width: 1600px)
and (-webkit-min-device-pixel-ratio: 2)
and (min-resolution: 192dpi) {}


//Bootstrap 4 breakpoints
@media (min-width: 1200px) {
  .container, .drop-container {
	max-width: 77%;
  }
  html{
	font-size: 20px;
  }
  .col-counter {
	flex: 0 0 20%;
	max-width: 20%;
  }
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1930px) {
  html{
    font-size: 22px;
  }
}
@media (min-width: 1700px) {
  .col-xxl {
	flex-basis: 0;
	flex-grow: 1;
	max-width: 100%;
  }
  .foo-menu {
	padding: 0 30px;
  }
  .hop-hey.three-columns {
	column-count: 3;
  }
  .post-item-content-wrap {
	padding: 43px 35px 43px 53px;
  }
  .header-top {
	padding: size(32) 0 size(25) 0;
  }
  #desctopNav {
	ul {
	  li {
		padding: size(20) 15px;
	  }
	}
  }
  .logo img {
	max-height: size(67);
  }
  .why-content-wrap {
	padding: 0 60px;
  }
  .review-item {
	margin: 0 2rem;
  }
}
@media (max-width: 1700px) {
  @mixin input-style {
	height: size(52);
  }
  @mixin input-text {
	font-size: size(20);
	line-height: size(22);
  }
  //Form styles
  .wpcf7-form {
	::placeholder {
	  @include input-text;
	}
	::-webkit-input-placeholder, :-moz-placeholder, :-ms-input-placeholder {
	  @include input-text;
	}
  }
  div.wpcf7 input[type="text"],
  div.wpcf7 input[type="tel"],
  div.wpcf7 input[type="email"] {
	background-size: size(34);
	padding-right: size(45);
  }
  div.wpcf7 input,
  div.wpcf7 textarea,
  div.wpcf7 select {
	@include input-text;
	@include input-style;
  }
  .drop-container ul.sub-menu {
	column-count: 3;
	column-gap: 1rem;
  }
}
@media (max-width: 1500px) {
  .col-service {
	.service-icon-wrap {
	  min-width: unset;
	  padding: 30px;
	  height: size(150);
	}
  }
  .company-icon-wrap {
	width: size(200) !important;
	height: 170px !important;
	padding: 20px;
  }
  .post-item-content-wrap .base-text {
	font-size: size(16);
	line-height: size(20);
  }
  .post-item-title {
	font-style: size(20);
	line-height: size(22);
  }
  .same-services-slider {
	padding: 0 4%;
  }
}
/* Extra large devices (large desktops, 1200px and down) */
@media (max-width: 1200px) {
  html{
    font-size: 20px;
  }
  .vmove { position: relative; display: block }
  .vwrap, .vitem {
	height: 35px;
	line-height: 35px;
  }
  .vwrap {
	overflow: hidden;
	margin-bottom: 10px;
  }
  .sticky-form-block {
	max-height: 200px;
  }
  @keyframes tickerv {
	0% { bottom: 0; } /* FIRST ITEM */
	30% { bottom: 35px; } /* SECOND ITEM */
	60% { bottom: 70px; } /* THIRD ITEM */
	90% { bottom: 105px; } /* FORTH ITEM */
	100% { bottom: 0; } /* BACK TO FIRST */
  }
  .vmove {
	animation-name: tickerv;
	animation-duration: 10s;
	animation-iteration-count: infinite;
	animation-timing-function: cubic-bezier(1, 0, .5, 0);
  }
  .vmove:hover { animation-play-state: paused; }
  .drop-container ul.sub-menu {
	column-count: 2;
	column-gap: 1rem;
  }
  .hop-hey.three-columns {
	column-count: 1;
  }
  .arrows-slider-black {
	[dir="rtl"] .slick-next {
	  left: -1rem;
	}
	[dir="rtl"] .slick-prev {
	  right: -1rem;
	}
  }
  .about-team-block {
	.arrows-slider-black {
	  padding: 0 2rem;
	  [dir="rtl"] .slick-next {
		left: -2rem;
	  }
	  [dir="rtl"] .slick-prev {
		right: -2rem;
	  }
	}
  }
  .client-item {
	padding: 0 10px;
  }
  .partners-slider {
	display: block !important;
  }
  .partners-container {
	display: none !important;
  }
}
/* Large devices (desktops, 992px and down) */
@media (max-width: 992px) {
  html{
    font-size: 19px;
  }
  .foo-links-menu {
	order: 3;
	margin-top: 2rem;
  }
  .hop-hey.three-columns {
	column-count: 2;
	column-gap: 1rem;
  }
  .contacts-footer-menu {
	order: 2;
  }
  .arrows-slider-black {
	[dir="rtl"] .slick-next {
	  left: -2rem;
	}
	[dir="rtl"] .slick-prev {
	  right: -2rem;
	}
  }
  .post-item-content-wrap {
	padding: 43px 35px 43px 53px;
	.base-text {
	  @include base-text;
	}
	.post-item-title {
	  font-size: size(25);
	  line-height: size(30);
	}
  }
  .home-about-block .bordered-image {
	margin-bottom: 2rem;
  }
  .tel-number, .langs-wrap li a {
	font-size: size(20);
	line-height: size(24);
  }
  .header-tel {
	img {
	  margin: 0 10px;
	  width: size(24);
	}
  }
  .cat-link-col {
	padding: 0 15px;
  }
  .service-page-icon {
	width: size(102) !important;
	height: size(65) !important;
	min-width: size(102) !important;
	padding: 10px;
  }
  .slider-img-col {
	display: none !important;
  }
  .slider-img-col-mob {
	display: block;
  }
}
@media (min-width: 992px) {
  .drop-container {
	max-width: 960px;
  }
}
@media (min-width: 768px) {
  .drop-container {
	max-width: 720px;
  }
}
@media (min-width: 576px) {
  .drop-container {
	max-width: 540px;
  }
}
@media (min-width: 1200px) {
  .drop-container {
	max-width: 77%;
  }
}
@media (width: 992px) {
  .arrows-slider-black {
	padding: 0 2rem;
  }
}
/* Medium devices (tablets, 768px and down) The navbar toggle appears at this breakpoint */
@media (max-width: 768px) {
  html{
    font-size: 18px;
  }
  .question-header {
	padding-right: 70px;
  }
  .answer-body {
	padding: 0 0 21px 5%;
  }
  .col-service {
	.service-icon-wrap {
	  width: size(249);
	  height: size(200);
	}
  }
  .post-item-content-wrap {
	padding: 23px 15px 23px 33px;
	.base-text {
	  font-size: size(16);
	  line-height: size(18);
	}
	.post-item-title {
	  font-size: size(20);
	  line-height: size(22);
	}
  }
  .counter-num-wrap {
	position: relative;
	@include d-center;
	width: 86px;
	height: 99px;
	margin-bottom: 12px;
  }
  .counter-number {
	right: 20px;
	font-size: size(35);
	line-height: size(24);
  }
  .counter-title {
	font-size: size(25);
	line-height: size(24);
  }
  .clients-block {
	margin: 45px 0;
  }
  .header-tel img {
	width: 0.95rem;
  }
}
//Custom mobile
@media (max-width: 650px) {
  .arrows-slider-black {
	[dir="rtl"] .slick-next {
	  left: -1rem;
	}
	[dir="rtl"] .slick-prev {
	  right: -1rem;
	}
  }
  #desctopNav {
	display: none !important;
  }
  .header-bottom {
	padding: 10px 0;
  }
  .tel-number {
	display: none;
  }
}
/* Small devices (landscape phones, 576px and down) */
@media (max-width: 576px) {
  html{
    font-size: 17px;
  }
  .contacts-footer-menu {
	margin-top: 2rem;
  }
  .arrows-slider-black {
	[dir="rtl"] .slick-next,
	[dir="rtl"] .slick-prev {
	  top: 100%;
	}
	[dir="rtl"] .slick-next {
	  left: calc(50% - 2.5rem);
	}
	[dir="rtl"] .slick-prev {
	  right: calc(50% - 2.5rem);
	}
  }
  .social-link-item {
	width: size(37);
	height: size(38);
	border-radius: 0 size(19) size(19) 0;
	.fab {
	  font-size: size(22);
	}
	img {
	  width: size(17);
	}
  }
  .col-min-width {
	min-width: calc(100vw - 1rem - 30px);
  }
  .float-form {
	&.show-form {
	  left: 1rem;
	}
  }
  .why-content-wrap {
	padding: 0 15px;
  }
  .form-title {
	font-size: 1.25rem;
	line-height: 1.4rem;
  }
  .content-wrapper {
	padding: 47px 15px;
  }
  .service-page-icon {
	width: size(182) !important;
	height: size(145) !important;
	min-width: size(182) !important;
	padding: 40px;
  }
  .same-services-slider {
	padding: 0 20%;
  }
  .same-services {
	[dir="rtl"] .slick-next {
	  left: 1.5rem;
	}
	[dir="rtl"] .slick-prev {
	  right: 1.5rem;
	}
  }
  .about-team-block {
	.arrows-slider-black {
	  padding: 0 15px;
	  margin-bottom: 2rem;
	  [dir="rtl"] .slick-next {
		left: calc(50% - 2rem);
	  }
	  [dir="rtl"] .slick-prev {
		right: calc(50% - 2rem);
	  }
	}
  }
  .answer-body .base-output {
	margin-top: 20px;
	margin-right: -50px;
  }
  .form-tabs-block {
	.nav-tabs {
	  .nav-item-title {
		padding: 10px 30px;
		img {
		  position: absolute;
		  left: size(15);
		  height: size(21) !important;
		}
	  }
	}
	.nav-tabs .nav-link {
	  padding: 20px;
	}
  }
  .file-item {
	padding: size(27);
	img {
	  min-width: size(28);
	  transition: margin-top .5s;
	}
	svg {
	  min-width: size(31);
	}
  }
  .file-item-content {
	padding: 0 10px !important;
  }
}







/*
::::: Custom media queries :::::
*/

@media (max-width: 450px) {
  .hop-hey.three-columns {
	column-count: 1;
  }
  .post-item {
	flex-wrap: wrap;
  }
  .col-service-output {
	flex: 0 0 100%;
	max-width: 100%;
  }
  .post-item-image, .post-item-content-wrap {
	flex: 0 0 100%;
	max-width: 100%;
  }
  .col-counter {
	flex: 0 0 50%;
	max-width: 50%;
	&:first-child {
	  flex: 0 0 100%;
	  max-width: 100%;
	}
  }
  .header-top {
	.container-fluid {
	  max-width: 100%;
	}
  }
  .header-logo-col {
	flex: 0 0 45%;
	max-width: 45%;
  }
  .company-icon-wrap {
	width: size(249) !important;
	height: 200px !important;
	padding: 30px;
  }
}
