body {
  text-align: left;
  direction: ltr;
}

#desctopNav ul li.first-sub-menu a:before {
  left: unset;
  right: 0;
}

.wpcf7-form * {
  direction: ltr !important;
}
.wpcf7-form ::placeholder {
  text-align: left;
}
.wpcf7-form ::-webkit-input-placeholder, .wpcf7-form :-moz-placeholder, .wpcf7-form :-ms-input-placeholder {
  text-align: left;
}

div.wpcf7 input,
div.wpcf7 textarea,
div.wpcf7 select {
  padding-right: 12px;
  background-position: 8px center;
  padding-left: 3.5rem;
}

div.wpcf7 textarea {
  padding: 25px 15px;
}

div.wpcf7 select {
  padding-left: 12px;
  padding-right: 30px;
  background-position: calc(100% - 11px) center;
}

div.wpcf7 input[type=submit], .base-link, .contact-link-stick {
  background-image: url("../iconsall/form-submit-ltr.png");
  background-position: calc(100% - 11px) center;
  padding: 5px 31px 5px 14px;
}

.base-link {
  padding: 5px 42px 5px 20px;
  background-position: calc(100% - 16px) center;
}
.base-link:hover {
  background-position: calc(100% - 5px) center;
}

.faq .question-title:after {
  right: 20px;
  left: unset;
}

.faq-icon {
  left: 0;
  right: unset;
  border-radius: 10px 0 0 10px;
}

.question-title-q {
  padding: 5px 40px 5px 0;
  text-align: left;
}

.question-header {
  padding-right: 0;
  padding-left: 100px;
}

.answer-body {
  padding: 0 20% 21px 0;
}

#go-top {
  right: unset;
  left: 33px;
}

.triggers-col {
  right: 0;
  left: unset;
}

.drop-menu {
  left: 0;
  right: unset;
}

.base-slider-block .slider-base-item {
  direction: ltr;
}

.socials-line {
  left: unset;
  right: 0;
}

.social-link-item {
  border-radius: 1.45rem 0 0 1.45rem;
}

.post-link {
  background-image: url("../iconsall/arrow-link-ltr.png");
}

.post-item-content-wrap {
  padding: 23px 33px 23px 15px;
}

.float-form {
  direction: ltr;
  transform: translateX(150%);
}
.float-form.show-form {
  right: 3rem;
  left: unset;
}

.content-wrapper, .service-page-icon {
  border-right: 5px solid #ff0000;
  border-left: none;
}

.service-page-icon {
  border-radius: 10px 0 0 10px;
  margin-right: 17px;
  margin-left: 0;
}

.menu-border-top:before {
  left: 0;
  right: unset;
}

footer li a {
  padding-left: 20px;
  padding-right: 0;
}
footer li li:hover:before {
  border-left: 3px solid #201f1f;
  border-right: unset;
}
footer li:before {
  left: 0;
  right: unset;
  border-left: 3px solid #fff;
  border-right: unset;
}
footer .contact-list li a {
  padding-left: 0;
}
footer .contact-list li:before {
  display: none;
}

.slider-img-col {
  right: unset;
  left: 0;
}

.file-item {
  padding: 1.85rem 1.85rem 1.85rem 3rem;
}

.file-item-content {
  padding: 0 3.8rem 0 1.8rem;
}

.nav-item-title img {
  transform: rotate(180deg);
}

.form-tabs-block .nav-tabs .nav-item-title img {
  right: 1.5rem;
  left: unset;
}

@media (min-width: 1700px) {
  .post-item-content-wrap {
    padding: 43px 53px 43px 35px;
  }
}
@media (max-width: 1700px) {
  div.wpcf7 input[type=text],
div.wpcf7 input[type=tel],
div.wpcf7 input[type=email] {
    padding-left: 2.25rem;
    padding-right: 8px;
  }
}
@media (max-width: 992px) {
  .post-item-content-wrap {
    padding: 43px 53px 43px 35px;
  }
}
@media (max-width: 768px) {
  .faq-icon {
    left: 0;
    right: unset;
  }

  .question-header {
    padding-right: 0;
    padding-left: 70px;
  }

  .answer-body {
    padding: 0 5% 21px 0;
  }

  .triggers-col {
    right: 0;
  }

  .pop-trigger {
    padding: 0;
  }

  .post-item-content-wrap {
    padding: 23px 33px 23px 15px;
  }
}
@media (max-width: 576px) {
  .social-link-item {
    border-radius: 0.95rem 0 0 0.95rem;
  }

  .answer-body .base-output {
    margin-left: -50px;
    margin-right: 0;
  }

  .file-item {
    padding: 1.35rem;
  }
}
@media (max-width: 500px) {
  .float-form.show-form {
    right: 1rem;
    left: unset;
  }
}

/*# sourceMappingURL=ltr.css.map */
