@import "mixins";
@import "reset";
@import "fonts";
@import "vars";
@import "colors";
@import "setup";
@import "hover";
@import "header-footer";
@import "animate";
@import "forms";
@import "partials";


body{
  font-family: $assistant;
  text-align: right;
}
.wow {
  visibility: hidden;
}
.container-fluid {
  max-width: 90%;
}
.base-title {
  font-size: size(40);
  line-height: size(42);
  color: #000000;
  margin-bottom: 50px;
  text-align: center;
  font-weight: 700;
}
.base-output {
  h1 {
	font-size: size(45);
	line-height: size(48);
  }
  h2 {
	font-size: size(40);
	line-height: size(42);
  }
  h3 {
	@include base-title;
  }
  h1, h2, h3, h4, h5, h6 {
	color: #000000;
	font-weight: 700;
	margin-bottom: 20px;
  }
  h4 {
	font-size: size(30);
	line-height: size(32);
  }
  h5 {
	font-size: size(26);
	line-height: size(28);
  }
  h6 {
	@include block-text;
  }
  p, li {
	@include base-text;
	color: $base-text;
  }
  ul {
	list-style: disc;
	margin: 1rem;
  }
}
.stick-form-title, .stick-form-subtitle {
  text-align: center;
  color: #ffffff;
  @include base-title;
}
.stick-form-title {
  font-weight: 700;
}
.stick-form-subtitle {
  font-weight: 400;
}
.mb-30 {
  margin-bottom: 30px;
}
.middle-title {
  @include base-title;
  text-align: center;
  color: #000000;
  margin-bottom: 37px;
}
.base-text {
  @include base-text;
  color: $base-text;
}

//Homepage
.main-home {
  padding-top: 65px;
}
.main-image img {
  height: auto;
  width: 100%;
}
.main-icon-wrap {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 17px;
  height: size(92);
}
.main-link-tab, .cat-link {
  @include d-center;
  padding: 15px 50px;
  color: #ffffff;
  font-size: size(25);
  font-weight: 400;
  line-height: normal;
  border-radius: 10px;
  text-align: center;
}
.cat-link {
  padding: 15px;
}
.main-link-tab {
  min-width: 208px;
  margin: 0 30px 28px 30px;
  background-color: $black-main;
  transition: background-color .5s;
  &:hover {
	color: #ffffff;
	background-color: $red-main;
	transition: background-color .5s;
  }
}
.bordered-image {
  @include d-center;
  border-radius: 10px;
  border: 2px solid $red-main;
  padding: 30px;
  img {
	border-radius: 10px;
	width: 100%;
  }
}
.home-about-block {
  padding-top: 100px;
}
.serv-slide-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
.services-home {
  padding: 57px 0;
  background-color: #f9f9f9;
}
//Benefits
.benefits-block {
  margin: size(76) 0 size(56) 0;
}
.why-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}
.why-item-title {
  color: #000000;
  font-size: size(25);
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(25);
  margin-bottom: 10px;
}
.why-item-col {
  margin-bottom: 50px;
}
.why-icon-wrap {
  flex: 0 0 20%;
  max-width: 20%;
  @include d-center;
}
.why-content-wrap {
  padding: 0 30px;
  flex: 0 0 80%;
  max-width: 80%;
}
//Reviews
.reviews-block {
  margin-bottom: 80px;
  [dir="rtl"] .slick-prev, [dir="rtl"] .slick-next {
	top: 50%;
  }
  .slick-slider .slick-track, .slick-slider .slick-list {
	display: flex !important;
  }
}
.review-slide {
  padding: 2rem 0;
  .base-text {
	color: #4d4d4c;
  }
}
.review-item {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 2px solid #ff0000;
  border-radius: size(23);
  background-color: #ffffff;
  padding: size(80) 20px size(100) 20px;
  margin: 0 1rem;
}
.quote {
  position: absolute;
  z-index: 90;
  background-color: #ffffff;
  img {
	width: size(57);
  }
}
.quote-top {
  top: -1rem;
  left: 2.5rem;
}
.quote-bottom {
  bottom: -1rem;
  right: 2.5rem;
}
.review-col {
  margin-bottom: 2rem;
}
.rev-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  img {
	max-height: size(58);
  }
}
.rev-pop-trigger {
  position: absolute;
  bottom: 50px;
  width: size(28);
  height: size(28);
  border-radius: 50%;
  font-size: size(22);
  font-weight: 500;
  line-height: size(24);
  text-align: center;
  @include d-center;
  background-color: $black-main;
  cursor: pointer;
  color: #ffffff;
  transition: background-color .5s;
  &:hover {
	background-color: $red-main;
	transition: background-color .5s;
  }
}
.review-title {
  font-size: size(28);
  line-height: size(30);
  text-align: center;
  font-weight: 700;
  margin-bottom: 15px;
}
.reviews-block {
  padding: size(40) 0;
}
//Reviews popup
.hidden-review {
  display: none;
}
#reviewsModal {
  .modal-content {
	border: none;
	border-radius: 0;
  }
}
#reviews-pop-wrapper {
  position: relative;
  border-radius: 0;
  background-color: #ffffff;
  border: 5px solid $red-main;
  align-items: flex-start;
  padding: 2rem;
  z-index: 2222;
}
#reviewsModal {
  .modal-content .close {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	z-index: 9999;
	cursor: pointer;
	top: 10px;
	left: 10px;
	background-color: transparent;
	.fa-times {
	  color: $red-main;
	  font-size: 2rem;
	}
  }
}
.modal {
  z-index: 99999;
}
//Clients
.clients-block {
  margin: 75px 0;
}
.client-item {
  @include d-center;
  padding: 0 5%;
  img {
	max-height: 130px;
  }
}
.partners-slider {
  display: none !important;
}
//About
.slide-team-padding {
  padding: 5px;
}
.partners-slider {
  margin: 0 -5px;
}
.about-team-block {
  margin: 80px 0;
}
.member-item {
  .bordered-image {
	padding: 19px;
	margin-bottom: 24px;
  }
}
.member-image {
  display: flex;
  width: 100%;
  @include back-img;
  border-radius: 10px;
  background-color: #000000;
  &:after {
	padding-bottom: 100%;
	content: '';
	display: block;
  }
}
.member-title {
  @include base-text;
  color: #000000;
  margin-bottom: 10px;
}
.about-base-title, .post-base-title {
  color: #000000;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(34);
  margin-bottom: 20px;
}
.about-base-title {
  text-align: center;
  font-size: size(34);
}
.post-base-title {
  font-size: size(35);
}
.page-body {
  padding-top: 30px;
}
//Content repeat
.content-wrapper {
  display: flex;
  align-items: center;
  box-shadow: 1px 2px 7px 1px rgba(22, 22, 22, 0.1);
  border-radius: 0 10px 10px 0;
  background-color: #ffffff;
  padding: 47px 40px;
  height: 100%;
  border-left: 5px solid $red-main;
}
.about-page-body {
  .base-output p, .base-output li {
	line-height: size(34);
  }
}
//Contact
.contact-form-back {
  margin: 36px 0;
  background-color: $black-main;
  padding: 47px 10%;
  border-radius: 10px;
}
.map-col {
  iframe {
	width: 100%;
	border-radius: 10px;
	height: 317px !important;
  }
}
//Contact
.contact-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 50px;
}
.contact-icon-wrap  {
  @include d-center;
  width: size(155);
  height: size(148);
  margin-bottom: 15px;
  border-radius: 23px;
  border: 2px solid #ff0000;
  background-color: #ffffff;
  padding: 30px;
  img {
	max-height: 100%;
  }
}
.contact-item-title, .contact-info {
  text-align: center;
  color: #031617;
}
.contact-info {
  font-size: size(24);
  line-height: size(26);
  font-weight: 400;
  transition: color .5s;
  white-space: nowrap;
  &:hover {
	color: $red-main;
	transition: color .5s;
  }
}
.contact-item-title {
  @include block-text;
  font-weight: 700;
}
//Blog
.more-link {
  height: size(40);
  padding: 5px 50px !important;
  background-color: #a5a4a4;
  color: #ffffff;
  background-image: none !important;
  transition: color, background-color .5s !important;
  &.hide {
	display: none;
  }
  &:hover {
	color: #ffffff;
	background-color: $red-main;
	transition: color, background-color .5s !important;
  }
}
//Post
.socials-share {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 20px 0;
}
.share-text {
  color: #292929;
  font-size: size(25);
  line-height: size(32);
  font-weight: 400;
}
.social-share-link {
  @include d-center;
  margin: 0 9px;
  img {
	width: size(46);
  }
}
.page-form-col-post .post-form-wrap {
  position: sticky;
  top: 0;
  z-index: 9999;
  margin-bottom: 90px;
}
//Services
.services-output-page {
  padding-top: size(89);
  background-color: #f9f9f9;
}
.cat-link-col {
  padding: 0 5px;
  background-color: #f9f9f9;
  margin-bottom: 10px;
}
.cat-link {
  @include d-center;
  border-radius: 10px;
  color: $black-main;
  border: 2px solid $black-main;
  width: 100%;
  background-color: #ffffff;
  transition: color, background-color .5s;
  &:hover {
	color: #ffffff;
	border: 2px solid #ff0000;
	background-color: #ff0000;
	transition: color, background-color .5s;
  }
  &.active {
	color: #ffffff;
	border: 2px solid #ff0000;
	background-color: #ff0000;
	&:hover {
	  color: #ffffff;
	  border: 2px solid #ff0000;
	  background-color: #ff0000;
	}
  }
}
.same-services {
  [dir="rtl"] .slick-prev, [dir="rtl"] .slick-next {
	top: 5rem;
  }
}
.same-services-slider {
  padding: 0 8%;
  .service-icon-wrap {
	min-width: unset !important;
	width: 90% !important;
	padding: 8%;
  }
}
.about-team-block {
  [dir="rtl"] .slick-prev, [dir="rtl"] .slick-next {
	top: 35%;
  }
  [dir="rtl"] .slick-next {
	background-image: url("../iconsall/arrow-red-left.png");
	left: -5rem;
  }
  [dir="rtl"] .slick-prev {
	background-image: url("../iconsall/arrow-red-right.png");
	right: -5rem;
  }
}
//Tabs
.form-tabs-block {
  .tab-content {
	height: 100%;
	display: flex;
	//flex-direction: column;
	justify-content: stretch;
	align-items: flex-start;
	border-radius: 10px;
	border: 2px solid #201f1f;
	background-color: #ffffff;
  }
  .tab-pane {
	width: 100%;
	height: 100%;
	padding: 0;
  }
  .nav-tabs {
	display: flex;
	overflow: hidden;
	justify-content: stretch;
	flex-direction: column;
	align-items: stretch;
	flex-wrap: wrap;
	border-radius: 10px;
	border: 2px solid #201f1f;
	background-color: #ffffff;
	height: 100%;
	.nav-item {
	  margin-bottom: 0;
	  padding: 0;
	  &:last-child .nav-link {
		border-bottom: none !important;
	  }
	}
	.nav-item-title {
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  background-color: #000000;
	  padding: 20px 50px;
	  .form-tab-title {
		color: #ffffff !important;
	  }
	  img {
		position: absolute;
		left: size(30);
		height: size(31) !important;
	  }
	}
  }
  .nav-tabs .nav-link {
	@include d-center;
	border: none !important;
	border-radius: 0 !important;
	height: 100%;
	padding: 30px;
	border-bottom: 1px solid rgba(77, 77, 76, 0.7) !important;
  }
  .nav-tabs .nav-link.active {
	.form-tab-title {
	  color: $red-main;
	}
  }
}
.form-tab-title {
  color: #151515;
  font-size: size(30);
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(30);
  text-align: center;
}
.file-item-title {
  @include base-text;
  color: #151515;
  margin-bottom: 10px;
}
.file-item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: size(37) size(60) size(37) size(37);
  border-bottom: 1px solid rgba(77, 77, 76, 0.7);
  &:last-child {
	border-bottom: none;
  }
  img {
	min-width: size(38);
	transition: margin-top .5s;
  }
  svg {
	min-width: size(41);
	fill: #000000;
	align-self: center;
  }
}
.file-download {
  img {
	margin-top: 10px;
	transition: margin-top .5s;
  }
}
.file-item-content {
  padding: 0 size(36) 0 size(76);
}
.sticky-form-block {
  max-height: 112px;
  background-color: $black-main;
  padding: size(24) 0;
  position: fixed;
  right: 0;
  width: 100%;
  bottom: 0;
  z-index: 99999;
}
.vmove {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}


@import "responsive";
